Load the libaries & Data

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SequentialFeatureSelector
np.set_printoptions(suppress=True)

all_data=pd.read_csv('opp.csv')
all_data.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [2]:
all_data=all_data.dropna()
all_data=all_data.drop(['case'],axis=1)
all_data.head()

,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [3]:
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

1 Way ANOVA

In [5]:
model = ols('age ~ C(sex)', data=all_data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

              sum_sq    df         F    PR(>F)
C(sex)      1.226300   1.0  0.332098  0.565734
Residual  365.565779  99.0       NaN       NaN

2 Way ANOVA

In [6]:
model = ols('age ~ C(sex) + C(Pop)', data=all_data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

              sum_sq    df         F    PR(>F)
C(sex)      0.646818   1.0  0.174255  0.677271
C(Pop)      1.798804   1.0  0.484604  0.487992
Residual  363.766975  98.0       NaN       NaN